<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>floorplan</key>
				<string>grfx_floorplan8_sample.png</string>
				<key>floorplancaption</key>
				<string>7</string>
				<key>floorplate</key>
				<string></string>
				<key>floorstack</key>
				<string></string>
				<key>pdf</key>
				<string>local7.pdf</string>
				<key>square</key>
				<string>31042</string>
				<key>floorinfo</key>
				<array>
					<string></string>
				</array>
				<key>testfits</key>
				<dict>
					<key>testfitinfo</key>
					<array>
						<string>grfx-fp-panel-TF-midrise-perimeter.png</string>
						<string>grfx-fp-panel-TF-midrise-perimeter.png</string>
					</array>
					<key>testfitimages</key>
					<array>
						<string>grfx_floor_plans_1_tenants.png</string>
						<string>grfx_floor_plans_2_tenants.png</string>
						<string>grfx_floor_plans_4_tenants.png</string>
					</array>
					<key>testfitcaptions</key>
					<array>
						<string>8TH FLOOR</string>
						<string>8TH FLOOR TEST-FIT</string>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>floorplan</key>
				<string>grfx_floorplan7_sample.png</string>
				<key>floorplancaption</key>
				<string>6</string>
				<key>floorplate</key>
				<string></string>
				<key>floorstack</key>
				<string></string>
				<key>pdf</key>
				<string>local6.pdf</string>
				<key>square</key>
				<string>31042</string>
				<key>floorinfo</key>
				<array>
					<string></string>
				</array>
				<key>testfits</key>
				<dict>
					<key>testfitinfo</key>
					<array>
						<string>grfx-fp-panel-TF-midrise-perimeter.png</string>
						<string>grfx-fp-panel-TF-midrise-perimeter.png</string>
						<string>grfx-fp-panel-TF-midrise-perimeter.png</string>
					</array>
					<key>testfitimages</key>
					<array>
						<string>grfx_floor_plans_1_tenants.png</string>
						<string>grfx_floor_plans_2_tenants.png</string>
						<string>grfx_floor_plans_4_tenants.png</string>
					</array>
					<key>testfitcaptions</key>
					<array>
						<string>7TH FLOOR</string>
						<string>7TH FLORR TEST-FIT</string>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>floorplan</key>
				<string>grfx_floorplan6_sample.png</string>
				<key>floorplancaption</key>
				<string>5</string>
				<key>floorplate</key>
				<string></string>
				<key>floorstack</key>
				<string></string>
				<key>pdf</key>
				<string>local5.pdf</string>
				<key>square</key>
				<string>29885</string>
				<key>floorinfo</key>
				<array>
					<string></string>
				</array>
				<key>hotspots</key>
				<array>
					<dict>
						<key>type</key>
						<string>image</string>
						<key>background</key>
						<string>view-icon-sq.png</string>
						<key>xy</key>
						<string>145,450</string>
						<key>angle</key>
						<string>110</string>
						<key>caption</key>
						<string>Terrace</string>
						<key>RGB</key>
						<string></string>
						<key>fileName</key>
						<string></string>
						<key>motionImg</key>
						<array>
							<dict>
								<key>offsets</key>
								<array>
									<string>5</string>
									<string>20</string>
									<string>30</string>
								</array>
								<key>images</key>
								<array>
									<string>TERRACE_SKY.jpg</string>
									<string>TERRACE_MIDGROUND.png</string>
									<string>TERRACE_FOREGROUND.png</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
				<key>testfits</key>
				<dict>
					<key>testfitinfo</key>
					<array/>
					<key>testfitimages</key>
					<array/>
					<key>testfitcaptions</key>
					<array>
						<string>6TH FLOOR</string>
						<string>6TH FLOOR TEST-FIT</string>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>FloorPlan</key>
		<string>FLOOR</string>
		<key>floorplaninfo</key>
		<array>
			<dict>
				<key>floorplan</key>
				<string>grfx_floorplan2_sample.png</string>
				<key>floorplancaption</key>
				<string>4</string>
				<key>floorplate</key>
				<string></string>
				<key>floorstack</key>
				<string></string>
				<key>pdf</key>
				<string>local4.pdf</string>
				<key>square</key>
				<string>22632</string>
				<key>floorinfo</key>
				<array>
					<string></string>
				</array>
				<key>testfits</key>
				<dict>
					<key>testfitinfo</key>
					<array/>
					<key>testfitimages</key>
					<array/>
					<key>testfitcaptions</key>
					<array>
						<string>2ND FLOOR</string>
						<string>2ND FLOOR TEST-FIT</string>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
